<template>
	<section class="app-main">
		<div class="container is-fluid is-marginless app-content">
			<transition mode="out-in" enter-active-class="fadeIn" leave-active-class="fadeOut" appear>
				<router-view class="animated" />
			</transition>
		</div>
	</section>
</template>

<script>
</script>

<style lang="scss" >
// Import Bulma's core
@import '~bulma/sass/utilities/_all';
// @import '../../scss/variables';

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

// Override bulma
// @import '../../scss/common';

.app-main {
	padding-top: 50px;
	position: relative;

	@include desktop() {
		// margin-left: $sidebar-width;
        // margin-left: 200px;
	}
}

.app-content {
	@include desktop() {
		padding: 20px;
	}
}

.notifications {
	margin-top: 60px;
}
</style>
