<template>
	<section class="hero is-bold app-navbar animated">

		<nav class="navbar">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img src="../../assets/cammsis.png" alt="CAMMSRisk" height="28">
				</a>

				<div v-on:click="showNav = !showNav" v-bind:class="{ 'is-active' : showNav }" class="navbar-burger burger is-pulled-right" data-target="navMenu">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>

			<div :class="{ 'is-active': showNav }" id="navMenu" class="navbar-menu is-pulled-right">
				<div class="navbar-end">
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link  is-active">
							<i class="fa fa-account"></i>
							<!-- <b-icon pack="fa" icon="account" type="is-primary" size="is-large"></b-icon> -->
							<span v-if="user">{{ user.firstName }} {{ user.lastName }}</span>
							<span v-else>Log in</span>
						</a>
						<div class="navbar-dropdown">
							<span @click="close">
								<router-link to="/#" class="navbar-item">
									View profile
								</router-link>
							</span>
							<span @click="close">
								<router-link to="/#" class="navbar-item">
									Change password
								</router-link>
							</span>
							<hr class="dropdown-divider">
							<a href="#" class="navbar-item">Logout</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</section>
</template>

<script>

export default {
	props: {
		// user: {
		// 	type: Object,
		// 	required: false
		// }
	},
	data () {
		return {
            showNav: false,
            user: {
                firstName: "Tom",
                lastName: "Burke"
            }
		}
	},
	methods: {
		close () {
			// eslint-disable-next-line
			console.log('It is closed')
		}
	}
	// computed: {
	// 	user() {
	// 		return this.$store.getters.userGet;
	// 	}
	// }
}
</script>

<style lang="scss" scoped>

.app-navbar {
	position: fixed;
	top: 0;
	min-width: 100%;
	z-index: 900;
	box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
	background-color: white;
}
</style>
