<template>
  <div id="app">
	<header-row></header-row>
	<!-- <sidebar></sidebar> -->
	<app-main></app-main>
	<!-- <footer-bar></footer-bar> -->
  </div>
</template>

<script>
import HeaderRow from './HeaderRow'
// import Sidebar from './Sidebar';
import AppMain from './AppMain'
// import FooterBar from './FooterBar';

export default {
	components: {
		HeaderRow,
		// Sidebar,
		AppMain
		// FooterBar
	},
	name: 'layout'
}
</script>
