<template>
  <div class="home">
    <div class="container">
    <img alt="Camms logo" src="../assets/cammsis.png">
    </div>
    <br/>
    <Search @clicked="getSearchItems" />
    <br/>
    <Risks :isFetching="this.isFetching" :keys="getKeys" :values="getValues" />
  </div>
</template>

<script>
// @ is an alias to /src
import Risks from '@/components/RisksWithKeys.vue'
import Search from './SearchWithKeys'

export default {
  components: {
    Risks,
    Search
  },
  name: 'home',
  data() {
    return {
      keys: [],
      values: []
    }
  },
  methods: {
    getSearchItems(keys, values) {
      this.keys = keys;
      this.values = values;
    }
  },
  computed: {
    isFetching() {
      return this.$store.isFetching ? this.$store.isFetching : false
    },
    getKeys() {
      return this.keys
    },
    getValues() {
      return this.values
    }
  }
}
</script>
