<template>
  <div class="home">
    <div class="container">
    <img alt="Camms logo" src="../assets/cammsis.png">
    </div>
    <br/>
    <Search @clicked="getSearchText" />
    <br/>
    <Risks :isFetching="this.isFetching" :searchString="searchedText" />
  </div>
</template>

<script>
// @ is an alias to /src
import Risks from '@/components/Risks.vue'
import Search from './Search'

export default {
  components: {
    Risks,
    Search
  },
  name: 'home',
  data() {
    return {
      search: ''
    }
  },
  methods: {
    getSearchText(value) {
      this.search = value
    }
  },
  computed: {
    isFetching() {
      return this.$store.isFetching ? this.$store.isFetching : false
    },
    searchedText() {
      return this.search
    }
  }
}
</script>
