<template>
    <b-table :data="riskList" :paginated="riskList.length > 10" per-page="10" :loading="isFetching" striped hover class="is-size-7">
        <template slot-scope="props">
            <b-table-column field="id" label="ID" sortable>
				<span v-if="props.row.id"><strong>{{ props.row.id }}</strong></span>
			</b-table-column>
            <b-table-column field="name" label="Name" sortable>
				<span v-if="props.row.name"><strong>{{ props.row.name }}</strong></span>
			</b-table-column>
            <b-table-column field="description" label="Description" sortable>
				<span v-if="props.row.description"><strong>{{ props.row.description }}</strong></span>
			</b-table-column>
            <b-table-column field="location" label="Location" sortable centered>
				<span v-if="props.row.location"><strong>{{ props.row.location }}</strong></span>
			</b-table-column>
            <b-table-column field="ownerid" label="Owner ID" sortable>
				<span v-if="props.row.ownerid"><strong>{{ props.row.ownerid }}</strong></span>
			</b-table-column>
            <b-table-column field="status" label="Status" sortable>
				<span v-if="props.row.status"><strong>{{ props.row.status }}</strong></span>
			</b-table-column>
            <b-table-column field="createdDate" label="Created" sortable>
				<span v-if="props.row.createdDate"><strong>{{ props.row.createdDate | moment('do MMM YYYY') }}</strong></span>
			</b-table-column>
            <b-table-column field="nextReviewDate" label="Next Review" sortable>
				<span v-if="props.row.nextReviewDate"><strong>{{ props.row.nextReviewDate | moment('do MMM YYYY') }}</strong></span>
			</b-table-column>
            <b-table-column field="reviewInterval" label="Review Freq" sortable centered>
				<span v-if="props.row.reviewInterval"><strong>{{ props.row.reviewInterval }}</strong></span>
			</b-table-column>
            <b-table-column field="pastReviews" label="Past Reviews" sortable>
				<span v-if="props.row.pastReviews"><strong>{{ props.row.pastReviews }}</strong></span>
			</b-table-column>
            <b-table-column field="score" label="Score" sortable>
				<span v-if="props.row.score"><strong>{{ props.row.score.toFixed(4) }}</strong></span>
			</b-table-column>
            <b-table-column field="strategicObjective" label="Strategic Objective" sortable>
				<span v-if="props.row.strategicObjective"><strong>{{ props.row.strategicObjective }}</strong></span>
			</b-table-column>
            <b-table-column field="currentControl" label="Current Control" sortable centered>
				<span v-if="props.row.currentControl"><strong>{{ props.row.currentControl }}</strong></span>
			</b-table-column>
        </template>
        
		<template slot="empty">
			<app-empty-table tableType="risk" />
		</template>
    </b-table>

</template>

<script>
import AppEmptyTable from '../components/AppEmptyTable'
export default {
	components: {
		AppEmptyTable
	},
    props: {
		isFetching: {
			type: Boolean,
			required: true
		},
		searchString: {
			type: String,
			required: true
		}
	},
	methods: {
		risks(value) {
			return value == '' || null ? this.$store.getters.riskList : this.$store.getters.riskList.filter(o => {
				return o.name.toLowerCase() == value.toLowerCase();
			});
		},
		clearList() {
			return this.risks('');
		}
	},
	computed: {
		riskList() {
			return this.risks(this.searchString)
		}
	}
}
</script>

<style>

</style>
