<template>
    <section>
        <div>
            <b-field grouped label="Search risks" class="box">&nbsp;
                <b-input placeholder="Enter key" v-model="key" @keyup.native.enter="searchRisks" class="is-info has-icons-right" type="text" icon="magnify is-right"></b-input>
                <b-input placeholder="Value" v-model="value" @keyup.native.enter="searchRisks" class="is-info has-icons-right" type="text" icon="magnify is-right"></b-input>
                <p class="control">
                    <button @click="searchRisks" class="button is-primary">Search</button>
                </p>
                <p class="control">
                    <button @click="clearSearch" class="button is-success">Clear filter</button>
                </p>
            </b-field>
        </div>
    </section>
</template>

<script>
// import watson from '../utils/Watson'
export default {
    name: 'SearchWithKeys',
    data() {
        return {
            key: '',
            keys: [],
            value: '',
            values: [],
            search: '',
            foundRisks: []
        }
    },
    
/* eslint-disable */
    methods: {
        clearSearch(event) {
            this.keys.pop();
            this.values.pop();
            this.$emit('clicked', this.keys, this.values);
            return;
        },
        searchRisks(event) {
            this.keys.length = 0;
            this.values.length = 0;
            console.log("Key = " + this.key + ", Value = " + this.value)
            this.keys.push(this.key.toLowerCase());
            this.values.push(this.value.toLowerCase());
            this.$emit('clicked', this.keys, this.values);
            return;
        }
    }
}

</script>
<style>
</style>

