<template>
    <section>
        <div>
            <b-field grouped label="Search" class="box">&nbsp;
                <b-input placeholder="Search" v-model="search" @keyup.native.enter="searchRisks" class="is-info has-icons-right" type="text" icon="magnify is-right"></b-input>
                <p class="control">
                    <button @click="searchRisks" class="button is-primary">Search</button>
                </p>
                <p class="control">
                    <button @click="clearSearch" class="button is-success">Clear filter</button>
                </p>
            </b-field>
        </div>
    </section>
</template>

<script>
// import watson from '../utils/Watson'
export default {
    name: 'search',
    data() {
        return {
            search: '',
            foundRisks: []
        }
    },
    
/* eslint-disable */
    methods: {
        clearSearch(event) {
            this.$emit('clicked', '')
            return ''
        },
        searchRisks(event) {
            console.log(this.search)
            this.$emit('clicked', this.search.toLowerCase())
            return this.search.toLowerCase()
        }
    }
}

</script>
<style>
</style>

