<template>
	<section scope-slot="empty" class="section">
		<div class="content has-text-grey has-text-centered">
			<p>No {{ tableType }}s match your search.</p>
			<!-- <p>Click on the create {{ tableType }} button to create your first {{ tableType }}.</p> -->
		</div>
	</section>
</template>

<script>
export default {
	props: {
		tableType: {
			type: String,
			required: true
		}
	}
}
</script>