<template>
    <div id="risk-list">
        <h2>Risks</h2>
        <risks-table :isFetching="isFetching" :keys="keys" :values="values"></risks-table>
    </div>
</template>

<script>
import RisksTable from '../views/RiskTableWithKeys.vue'
export default {
    components: {
        RisksTable
    },
    name: 'RisksInfo',
    props: {
        isFetching: {
            type: Boolean,
            required: true
        },
        keys: {
            type: Array,
            required: true
        },
        values: {
            type: Array,
            required: true
        }
    }
}
</script>

<style>

</style>
