<template>
    <div id="risk-list">
        <h2>Risks</h2>
        <risks-table :isFetching="isFetching" :searchString="searchString"></risks-table>
    </div>
</template>

<script>
import RisksTable from '../views/RisksTable.vue'
export default {
    components: {
        RisksTable
    },
    name: 'RisksInfo',
    props: {
        isFetching: {
            type: Boolean,
            required: true
        },
        searchString: {
            type: String,
            required: true
        }
    }
}
</script>

<style>

</style>
